[submodule "Vendor/SDL"]
	path = Vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Vendor/SDL_image"]
	path = Vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "Vendor/libzmq"]
	path = Vendor/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "Vendor/SDL_ttf"]
	path = Vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
